# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.orig
*.rej
*.pyc
*.pyo
*.pyd

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebooks
.ipynb_checkpoints

# Environments
/env/
/venv/
/environment/
/virtualenv/
.venv
.env
.Python

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs and databases
*.log
*.sqlite3